*{
    margin: 0px;
    padding: 0px;
}

.video{
    width:100%;  
    height: 600px;
    text-align: center; 
}

.mapa{
   width: 100%;
   height: 500px;
}

header{
    background-color: rgb(68, 25, 73);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
} 

@media (max-width: 576px) {
   header{
      background-color: rgb(104, 33, 83) ;
   }
}

header img{
   width: 80px;
   height: 80px;
}  

header nav a{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  text-decoration: none;
  padding: 10px;
  color:rgb(155, 112, 160);
  text-transform: uppercase;
}

@media (max-width: 576px) {
   header nav a{
      font-family:Arial, Helvetica, sans-serif;
      font-weight: bold;
      text-decoration: none;
      padding: 10px;
      color:rgb(199, 144, 181);
      text-transform: uppercase;  
   }
   
}
   
nav a:hover{
    color: #f588ff;
    font-size: 14px;
}

@media (max-width: 576px){
   nav a:hover{
      color: #ce53a9;
      font-size: 14px; 
   }

}
body{
  background-color: rgb(87, 61, 90);
}

@media (max-width: 576px){
   body{
      background-color: rgb(134, 81, 117) ;
   }
}

section{
   margin: 5px;
   background-color: rgb(255, 255, 255);
   padding: 30px 10px 30px 10px;
   border-radius: 10px;
   text-align: left;
   font-size: 20px;
}

@media (max-width: 576px) {
  section{
   font-size: 15px;
  } 
}

section form{
   display: flex;
   flex-direction: column;
   padding: 5px;
}


button{
   border-radius: 5px;
}

section img{
   width: 30px;
   height: 30px;
}

main {
   display: flex;
   justify-content: space-around;
   flex-wrap: wrap;
   width: 100%;
   border-radius: 30px;
   margin: 0 auto;
   padding: 0px 250px 0px 20px;
}

footer{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:  rgb(112, 79, 116);
  padding: 10px 10px 10px 10px;
}

@media (max-width: 576px) {
   footer{
      background-color: rgb(141, 95, 126) 
      
   }
   
}







