*{
    margin: 0px;
    padding: 0px;
}

body{
   background-color: rgb(87, 61, 90);
 }
 

/*----Cabeçalho----*/
header{
    background-color: rgb(68, 25, 73);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0px;
} 

header img{
   width: 80px;
   height: 80px;
   padding: 5px;
}  

/*----Cabeçalho parte escrita----*/
header nav a{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  text-decoration: none;
  padding: 10px;
  color:rgb(155, 112, 160);
  text-transform: uppercase;
}

   
nav a:hover{
    color: #f588ff;
    font-size: 14px;
}

/*----Iframe----*/
.video{
   width:100%;  
   height: 600px;
   text-align: center; 
}

.mapa{
  width: 100%;
  height: 500px;
}

/*----Seções----*/
section{
   margin: 5px;
   background-color: rgb(255, 255, 255);
   padding: 30px 10px 30px 10px;
   border-radius: 10px;
   text-align: left;
   font-size: 20px;
}

h1{
   padding: 8px;
}

h3{
   padding: 8px;
}

/*----Formulário----*/
section form{
   display: flex;
   flex-direction: column;
   padding: 5px;
}


button{
   border-radius: 5px;
}



/*----img redes sociais----*/
section img{
   width: 30px;
   height: 30px;
}


/*----Serviços----*/
main {
   display: flex;
   justify-content: space-around;
   flex-wrap: wrap;
   width: 100%;
   border-radius: 30px;
   margin: 0 auto;
   padding: 0px 0px 0px 20px;
}



/*----Copyright----*/
footer{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:  rgb(112, 79, 116);
  padding: 10px 10px 10px 10px;
}


/*----Media----*/
@media (max-width: 576px) {
   
   header{
      background-color: rgb(104, 33, 83);
 
   }
   
   header nav a{
      font-family:Arial, Helvetica, sans-serif;
      font-weight: bold;
      text-decoration: none;
      padding: 10px;
      color:rgb(199, 144, 181);
      text-transform: uppercase;  
   }
   
   nav a:hover{
      color: #ce53a9;
      font-size: 14px; 
   }
   
   body{
      background-color: rgb(134, 81, 117) ;
   }
   
   section{
      font-size: 15px;
     } 
   
     main{
      display: flex;
      justify-content: space-around;
      flex-direction: column;
      width: 80%;
      border-radius: 30px;
      margin: 0px;
   }
   
   footer{
      background-color: rgb(141, 95, 126);
   }
}














